.container {
   display: flex;
   padding: 10px;
   justify-content: center;
}

button {
   background-color: aqua;
   color: white;
   border: none;
   padding: 10px;
   border-radius: 50px;
   display: inline-block;
   margin-left: 10px;
}

.box-img {
   width: 30%;
}

.box-content {
   width: 40%;
}